<h1>Editing channel: <%=@channel.name%></h1>

<%= render 'form' %>

<%= link_to 'Show', @channel, class: 'action show' %> |
<%= link_to 'List all channels', channels_path, class: 'action list' %> |
<%= link_to 'Back', request.referer || channels_path, class: 'action back' %>
