<% unless notice.blank?%>
	<p id="notice"><%= notice %></p> 
<% end %>

<p>
  <b>Name:</b>
  <%= @channel.name %>
</p>

<p>
  <b>Price:</b>
  <%= @channel.price %>
</p>


<%= link_to 'Edit', edit_channel_path(@channel), class: 'action edit' %> |
<%= link_to 'List all channels', channels_path, class: 'action list' %> |
<%= link_to 'Back', request.referer || channels_path, class: 'action back' %>
