<div class="depot_form">
	    <%= form_for(@user) do |f| %>
	      <% if @user.errors.any? %>
	        <div id="error_explanation">
	          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
	    
	          <ul>
	          <% @user.errors.full_messages.each do |msg| %>
	            <li><%= msg %></li>
	          <% end %>
	          </ul>
	        </div>
		<% end %>
		<div>
		    <%= f.label :name %>:
		    <%= f.text_field :name, size: 40 %>
		</div>
		<div>
		    <%= f.label :password, 'Password' %>:
		    <%= f.password_field :password, size: 40 %>
		</div>
		<div>
		    <%= f.label :password_confirmation, 'Confirm' %>:
		    <%= f.password_field :password_confirmation, size: 40 %>
		</div>
		<% if User.find(session[:user_id]).has_role?("9000")%>
			<table class="wrapper">
				<tr>
					<td>
						<div class="field vertical-group">
						    <fieldset>
							    <legend>Roles</legend>
							    <%= check_box_tag "user[roles][]", User::IS_AN_ADMIN, @user.has_role?(User::IS_AN_ADMIN)%>
						        <%= label_tag "user[roles][]", "Administrator"%><br>
						        <%= check_box_tag "user[roles][]", User::IS_AN_AGENT, @user.has_role?(User::IS_AN_AGENT)%>
						        <%= label_tag "user[roles][]", "Agent"%><br>
						    </fieldset>
						</div>
					</td>
					<td>
						<div class="field vertical-group">
						    <fieldset>
							    <legend>Access to Users</legend>
					                <%= check_box_tag "user[roles][]", User::USERS + User::CAN_LIST, @user.has_role?(User::USERS + User::CAN_LIST)%>
					                <%= label_tag "user[roles][]", "Can see list of users"%><br>
					                <%= check_box_tag "user[roles][]", User::USERS + User::CAN_ADD, @user.has_role?(User::USERS + User::CAN_ADD)%>
					                <%= label_tag "user[roles][]", "Can add users"%><br>
					                <%= check_box_tag "user[roles][]", User::USERS + User::CAN_DESTROY, @user.has_role?(User::USERS + User::CAN_DESTROY)%>
					                <%= label_tag "user[roles][]", "Can delete users"%><br>
					                <%= check_box_tag "user[roles][]", User::USERS + User::CAN_EDIT, @user.has_role?(User::USERS + User::CAN_EDIT)%>
					                <%= label_tag "user[roles][]", "Can modify users"%><br>
					        </fieldset>
						</div>
					</td>
					<td>
						<div class="field vertical-group">
						    <fieldset>
							    <legend>Access to Subscribers</legend>
					            <%= check_box_tag "user[roles][]", User::SUBSCRIBERS + User::CAN_LIST, @user.has_role?(User::SUBSCRIBERS + User::CAN_LIST)%>
					            <%= label_tag "user[roles][]", "Can see list of subscribers"%><br>
					            <%= check_box_tag "user[roles][]", User::SUBSCRIBERS + User::CAN_ADD, @user.has_role?(User::SUBSCRIBERS + User::CAN_ADD)%>
					            <%= label_tag "user[roles][]", "Can add subscribers"%><br>
					            <%= check_box_tag "user[roles][]", User::SUBSCRIBERS + User::CAN_DESTROY, @user.has_role?(User::SUBSCRIBERS + User::CAN_DESTROY)%>
					            <%= label_tag "user[roles][]", "Can delete subscribers"%><br>
					            <%= check_box_tag "user[roles][]", User::SUBSCRIBERS + User::CAN_EDIT, @user.has_role?(User::SUBSCRIBERS + User::CAN_EDIT)%>
					            <%= label_tag "user[roles][]", "Can modify subscribers"%><br>
					        </fieldset>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="field vertical-group">
						    <fieldset>
							    <legend>Access to Payments</legend>
					            <%= check_box_tag "user[roles][]", User::PAYMENTS + User::CAN_LIST, @user.has_role?(User::PAYMENTS + User::CAN_LIST)%>
					            <%= label_tag "user[roles][]", "Can see list payments"%><br>
					            <%= check_box_tag "user[roles][]", User::PAYMENTS + User::CAN_ADD, @user.has_role?(User::PAYMENTS + User::CAN_ADD)%>
					            <%= label_tag "user[roles][]", "Can add payments"%><br>
					            <%= check_box_tag "user[roles][]", User::PAYMENTS + User::CAN_DESTROY, @user.has_role?(User::PAYMENTS + User::CAN_DESTROY)%>
					            <%= label_tag "user[roles][]", "Can delete payments"%><br>
					            <%= check_box_tag "user[roles][]", User::PAYMENTS + User::CAN_EDIT, @user.has_role?(User::PAYMENTS + User::CAN_EDIT)%>
					            <%= label_tag "user[roles][]", "Can modify payments"%><br>
					        </fieldset>
						</div>
					</td>				
					<td>
						<div class="field vertical-group">
						    <fieldset>
							    <legend>Access to Packages</legend>
					            <%= check_box_tag "user[roles][]", User::PACKAGES + User::CAN_LIST, @user.has_role?(User::PACKAGES + User::CAN_LIST)%>
					            <%= label_tag "user[roles][]", "Can see list of packages"%><br>
					            <%= check_box_tag "user[roles][]", User::PACKAGES + User::CAN_ADD, @user.has_role?(User::PACKAGES + User::CAN_ADD)%>
					            <%= label_tag "user[roles][]", "Can add packages"%><br>
					            <%= check_box_tag "user[roles][]", User::PACKAGES + User::CAN_DESTROY, @user.has_role?(User::PACKAGES + User::CAN_DESTROY)%>
					            <%= label_tag "user[roles][]", "Can delete packages"%><br>
					            <%= check_box_tag "user[roles][]", User::PACKAGES + User::CAN_EDIT, @user.has_role?(User::PACKAGES + User::CAN_EDIT)%>
					            <%= label_tag "user[roles][]", "Can modify packages"%><br>
					        </fieldset>
						</div>
					</td>
					<td>
						<div class="field vertical-group">
						    <fieldset>
							    <legend>Access to Channels</legend>
					            <%= check_box_tag "user[roles][]", User::CHANNELS + User::CAN_LIST, @user.has_role?(User::CHANNELS + User::CAN_LIST)%>
					            <%= label_tag "user[roles][]", "Can see list of channels"%><br>
					            <%= check_box_tag "user[roles][]", User::CHANNELS + User::CAN_ADD, @user.has_role?(User::CHANNELS + User::CAN_ADD)%>
					            <%= label_tag "user[roles][]", "Can add channels"%><br>
					            <%= check_box_tag "user[roles][]", User::CHANNELS + User::CAN_DESTROY, @user.has_role?(User::CHANNELS + User::CAN_DESTROY)%>
					            <%= label_tag "user[roles][]", "Can delete channels"%><br>
					            <%= check_box_tag "user[roles][]", User::CHANNELS + User::CAN_EDIT, @user.has_role?(User::CHANNELS + User::CAN_EDIT)%>
					            <%= label_tag "user[roles][]", "Can modify channels"%><br>
					        </fieldset>
						</div>
					</td>
				</tr>
			</table>
		<%end%>
		<%= f.submit %>
    <% end %>
</div>