<% if flash[:alert] %>
    <p id="notice"><%= flash[:alert] %></p>
<% end %>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Password digest:</b>
  <%#= @user.password_digest %>
</p>


<%= link_to 'Edit', edit_user_path(@user), class: 'action edit' %> |
<%= link_to 'List all users', users_path, class: 'action list' %> |
<%= link_to 'Back', request.referer || users_path, class: 'action back' %>
