<h1>Editing payment: <%=@payment.id%></h1>

<%= render 'form' %>

<%= link_to 'Show', @payment, class: 'action show' %> |
<%= link_to 'List all payments', payments_path, class: 'action list' %> |
<%= link_to 'Back', request.referer || payments_path, class: 'action back' %>
