<% unless notice.blank?%>
	<p id="notice"><%= notice %></p> 
<% end %>
<p>
  <b>Status:</b>
  <%= @subscriber.status ? 'Active' : 'Inactive' %>
</p>

<p>
  <b>Smartcard number:</b>
  <%= @subscriber.smartcard_number %>
</p>

<p>
  <b>Name:</b>
  <%= @subscriber.name %>
</p>

<p>
  <b>Address:</b>
  <%= @subscriber.address %>
</p>

<p>
  <b>Cycle starts on:</b>
  <%= @subscriber.cycle_starts_on %>
</p>

<p>
  <b>Packages:</b>
  <%= @subscriber.get_packages.collect(&:name).join(',') %>
</p>

<p>
  <b>Channels:</b>
  <%= @subscriber.get_channels.collect(&:name).join(',') %>
</p>


<%= link_to 'Edit', edit_subscriber_path(@subscriber), class: 'action edit' %> |
<%= link_to 'List all subscribers', subscribers_path, class: 'action list' %> |
<%= link_to 'Back', request.referer || subscribers_path, class: 'action back' %>
